# logs
logs
*.log
npm-debug.log*

# dependency
node_modules/

# build output
.next/
build/

# static exports
out/

# env vars
.env
.env.local
.env.*.local
venv/

# IDE specific
.vscode/

# misc
.DS_Store
**/.DS_Store
*.swp

# PDFs are deployed from legislative-interface directly to S3
public/bill-texts/
public/amendments/
public/fiscal-notes/
public/legal-notes/
public/veto-letters/
